<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christoffer.mobiletest">

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bet Your Brain"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Question"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayerSelect" />
        <activity android:name=".PlayerName" />
        <activity android:name=".TakeTurn" />
        <activity android:name=".ChooseBetter" />
        <activity android:name=".Score" />
        <activity android:name=".CreateCardActivity" />
        <activity android:name=".CardView" />
        <activity android:name=".Lobby" />
        <activity
            android:name=".RuleSelect"
            android:label="@string/title_activity_rule_select"
            android:theme="@style/AppTheme" />
        <activity android:name=".NameSubmit" />
        <activity android:name=".StartBTGame" />
        <activity android:name=".Lobby2"></activity>
    </application>

</manifest>